manifest {
    description = 'HCL Sequencing Analysis Pipeline'
}

params {
    nfpath = '/path/to/seqmet'
    file_prefixes = false
    file_suffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
    file_extensions = ['.fastq.gz', '.fq.gz']
    help = false
    directory = false
}

process {
    withLabel: highmemory {
        container = '/path/to/seqmet/singularity/varcall.sif'
        maxForks = 16
        cpus = 1
        memory = 18.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: highcpu {
        container = '/path/to/seqmet/singularity/varcall.sif'
        maxForks = 1
        cpus = 16
        memory = 18.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: srahumanscrubber {
        container = '/path/to/seqmet/singularity/srahumanscrubber.sif'
        maxForks = 1
        cpus = 16
        memory = 180.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: varcall {
        container = '/path/to/seqmet/singularity/varcall.sif'
        maxForks = 16
        cpus = 1
        memory = 8.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: samtools {
        container = '/path/to/seqmet/singularity/samtools.sif'
        maxForks = 16
        cpus = 1
        memory = 8.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: freebayes {
        container = '/path/to/seqmet/singularity/varcall.sif'
        maxForks = 16
        cpus = 1
        memory = 8.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: nextclade {
        container = '/path/to/seqmet/singularity/nextclade.sif'
        maxForks = 16
        cpus = 1
        memory = 8.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: pangolin {
        container = '/path/to/seqmet/singularity/pangolin.sif'
        maxForks = 16
        cpus = 1
        memory = 8.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
}

profiles {
    local {
        process.executor = 'local'
    }
}

executor {
  $local {
      queueSize = 16
      cpus = 16
      memory = '300 GB'
  }
}

singularity {
    enabled = true
    autoMounts = false
    runOptions = '--bind /path/to/seqmet/'
}
